{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/font-awesome-4.7.0/css/font-awesome.min.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <img src="{% static 'home/logo.png' %}" alt="logo" class="header_logo">
            <div class="header_status">
                <p class="header_text">
                    Дежурный психолог по Дальнему Востоку
                </p>
                <p class="header_text">
                    Пока Москва спит, я работаю
                </p>
                <br>
                <a class="btn header_btn_desktop" href="##" onclick="openForm()"><span>Записаться на консультацию</span></a> 
            </div>
        </div>

        <a class="btn header_btn_mobile" href="##" onclick="openForm()"><span>Записаться на консультацию</span></a> 

        <div class="content">
            <div class="opener">
                <img src="{% static 'home/opener.webp' %}" alt="" class="opener_img">
                <ul class="opener_ul">
                    <li class="opener_li"><span class="opener_span">Клинический психолог</span></li>
                    <li class="opener_li"><span class="opener_span">Семейный и детский психолог</span></li>
                    <li class="opener_li"><span class="opener_span">Психотерапия и психологическая коррекция детей и подростков</span></li>
                    <li class="opener_li"><span class="opener_span">Результат после ПЕРВОЙ встречи.</span></li>
                </ul>
            </div>

            <hr>

            <div class="tip">
                Поступки детей - показатель психологического здоровья их родителей.
                <br>
                Я помогу избежать ошибок в воспитании.
            </div>

            <hr>

            <div class="service">
                <p style="text-align: center; font-size: 30px;">Вам поможет моя консультация, если вы хотите знать:</p>
                <br>
                <div class="service_flex">                
                    <ul class="service_ul">
                        <li class="service_li"><span class="service_span">Как получать радость от воспитания своих детей, вместо нервных срывов и чувство вины</span></li>
                        <li class="service_li"><span class="service_span">Как создать счастливую и крепкую семью</span></li>
                        <li class="service_li"><span class="service_span">Как жить без наказания детей</span></li>
                        <li class="service_li"><span class="service_span">Как быстро решать конфликты между детьми и родителями</span></li>
                        <li class="service_li"><span class="service_span">Как жить без эмоционального выгорания и всегда находить время для своих детей</span></li>
                    </ul>
                    <ul class="service_ul">
                        <li class="service_li"><span class="service_span">Как сделать так, чтобы у вас с подростком были доверительные отношения</span></li>
                        <li class="service_li"><span class="service_span">Как научить вашего ребёнка самостоятельно делать уроки</span></li>
                        <li class="service_li"><span class="service_span">Как пережить развод и сохранить теплые отношения между ребёнком и разведёнными  родителями</span></li>
                        <li class="service_li"><span class="service_span">Как наладить отношения взрослым детям со своими родителями, даже если они с ними не общались годы</span></li>
                    </ul>
                </div>
            </div>

            <hr>

            <div class="free_consult">
                <div class="free_consult_flex">
                    <p class="free_consult_title">
                        ЗАПИШИТЕСЬ НА ПЕРВУЮ БЕСПЛАТНУЮ ОНЛАЙН-КОНСУЛЬТАЦИЮ
                        <br><br>
                        ГДЕ Я ПОМОГУ ВАМ РАЗОБРАТЬСЯ С ВАШЕЙ ПРОБЛЕМОЙ.
                    </p>
                    <br>
                    <a class="btn free_btn" href="##" onclick="openFreeForm()"><span>Записаться на бесплатную консультацию</span></a> 
                </div>
            </div>

            <div class="best">
                <p style="text-align: center; font-size: 30px;">Преимущества моих консультаций</p>
                <br>
                <div class="best_flex">
                    <div class="best_block">
                        <p class="best_title">
                            АНОНИМНОСТЬ 100%
                        </p>
                        <p class="best_text">
                            До обращения, во время консультирования и после обращения <span class="invisible">.....................///////////.......</span>                                     
                        </p>
                    </div>
                    <div class="best_block">
                        <p class="best_title">
                            ДОСТУПНОСТЬ
                        </p>
                        <p class="best_text">
                            Консультирую в онлайне (Zoom, WhatsApp, Telegram) — вы всегда можете связаться со мной, где бы вы не находились.
                        </p>
                    </div>                  
                </div>
                <div class="best_flex">
                    <div class="best_block">
                        <p class="best_title">
                            МОЯ ПОМОЩЬ НЕ ОГРАНИЧИВАЕТСЯ СТЕНАМИ ОФИСА
                        </p>
                        <p class="best_text">
                            Кроме обычных очных и онлайн консультаций я предлагаю выезд на море, пикник или “разговор” за чашечкой кофе. Мы найдем с вами комфортную для вас обстановку, которая поможет быстро решить любую сложившуюся проблему.
                        </p>
                    </div>
                    <div class="best_block">
                        <p class="best_title">
                            ОПЫТ И ОБРАЗОВАНИЕ
                        </p>
                        <p class="best_text">
                            Я мама троих разновозрастных детей, с которыми я общаюсь 24х7, поэтому могу найти общий язык с ребенком любого возраста. Детей воспитываю с мужем, с которым мы вместе уже 18 лет. 
                            Все Дипломы, Сертификаты и Свидетельства вы можете посмотреть на сайте.
                        </p>
                    </div>                  
                </div>
            </div>

            <hr>

            <div class="price">
                <p style="text-align: center; font-size: 30px;">Сколько стоят мои услуги</p>
                <div class="price_flex">
                    <div class="price_block">
                        <div class="price_title">
                            Консультация/Сессия
                        </div>
                        <br><br><br>
                        <div class="price_count">
                            3000 РУБ
                        </div>
                        <a class="btn" href="##" onclick="openForm()"><span>Записаться</span></a> 
                    </div>
                    <div class="price_block">
                        <div class="price_title">
                            Консультацияя/сессия +
                            <br>
                            поддержка/ведение в течение недели
                        </div>
                        <br>
                        <div class="price_count">
                            6000 РУБ        
                        </div>
                        <a class="btn" href="##" onclick="openForm()"><span>Записаться</span></a> 
                    </div>
                </div>
            </div>

            <hr>

            <div class="about">
                <img src="{% static 'home/about.webp' %}" alt="" class="about_img">
                <div class="about_text">
                    <ul class="about_ul">
                        <li class="about_li"><span class="opener_span">2 высших образования: инженер и психолог</span></li>
                        <li class="about_li"><span class="opener_span">10+ лет предприниматель</span></li>
                        <li class="about_li"><span class="opener_span">18 лет в браке</span></li>
                        <li class="about_li"><span class="opener_span">3 сына</span></li>
                    </ul>
                    <br>
                    <p>
                        Мое направление в клинической психологии: Психотерапия и психологическая коррекция детей и подростков.
                        <br><br>
                        Родительству не учат в школе или в университете, а с появлением ребёнка у родителей появляется масса вопросов по воспитанию детей.
                        Поделюсь полезными инструментами и методами воспитания, чтобы воспитание ваших детей было вам в радость. 
                    </p>
                </div>
            </div>
        </div>

        <div class="form-popup" id="myFreeForm">
            <form action="#" class="form-container">
                <p class="form_p">Запись на бесплатную консультацию</p>

                <input type="text" placeholder="Ваше имя" name="name" required>
                <input type="text" placeholder="Ваш телефон" name="phone" required>

                <button type="submit" class="btn">Отправить</button>
                <button type="button" class="btn cancel" onclick="closeFreeForm()">Закрыть</button>
            </form>
        </div>
        <div class="form-popup" id="myForm">
            <form action="#" class="form-container">
                <p class="form_p">Запись на консультацию</p>

                <input type="text" placeholder="Ваше имя" name="name" required>
                <input type="text" placeholder="Ваш телефон" name="phone" required>
                <input type="text" placeholder="Опишите проблему, которую вы хотели бы решить" name="problem">

                <button type="submit" class="btn">Отправить</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Закрыть</button>
            </form>
        </div>

        <!-- <p style="text-align: center; font-size: 30px; margin-top: 20px;">Обратная связь</p>
        <div class="footer">
            <div class="form">
                <input type="text" placeholder="Ваше имя" class="input_">
                <input type="text" placeholder="Ваш телефон" class="input_">
                <a class="btn footer_btn" href="##"><span>Оставить заявку</span></a> 
            </div>
            <div class="social">
                <a href="tel:+7900000000"><i class="fa fa-2x fa-address-book" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-2x fa-whatsapp" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-2x fa-envelope" aria-hidden="true"></i></a>
            </div>
        </div> -->
    </div>
{% endblock content %}
