{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="../../static/font-awesome-4.7.0/css/font-awesome.min.css">
{% endblock extra_css %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <img src="../../static/logo.png" alt="logo" class="header_logo">
            <p style="color: rgb(74, 14, 130);" class="header_text">
                Твой психолог из Магадана
                <br>
                Я ближе, чем ты думаешь.
            </p>
        </div>

        <!-- <hr> -->

        <div class="content">
            <div class="opener">
                <ul class="opener_ul">
                    <li class="opener_li"><span class="opener_span">Детство без наказаний - это реально!</span></li>
                    <li class="opener_li"><span class="opener_span">Помогу найти общий язык с ребенком любого возраста.</span></li>
                    <li class="opener_li"><span class="opener_span">Мое направление в клинической психологии: Психотерапия и психологическая коррекция детей и подростков.</span></li>
                    <li class="opener_li"><span class="opener_span">Результат после ПЕРВОЙ встречи.</span></li>
                </ul>
                <!-- <div class="opener_image" style="background: url(../../static/opener_3.png) no-repeat center center;"></div> -->
            <img src="../../static/opener_3.png" alt="" class="opener_img">
            </div>

            <!-- <hr> -->

            <div class="about">
                <img src="../../static/about.png" alt="about" class="about_img">
                <p>
                    Кто Я
                    <br><br>
                    Давайте знакомиться. Меня зовут Аня Пашина. Я психолог для родителей. Моя основная деятельность - частное психологическое консультирование родителей.
                    <br><br>
                    Сегодня, когда я знакомлюсь с новыми людьми, и меня спрашивают, чем я занимаюсь по жизни (кем работаю), я отвечаю: «Я занимаюсь воспитанием троих сыновей». Мой 13-летний опыт «работы» мамой показал мне, что это одно из самых увлекательных путешествий в мир взаимоотношения людей и становление человека как личности. Я каждый день учусь у своих сыновей  находчивости, доброте, быть искренней, любить просто так, удивляться и восхищаться обычными вещами и окружающим миром вокруг нас. 
                    <br><br>
                    Именно материнство научило меня быть женщиной и выстроить  правильную иерархию в семье. И благодаря материнству, сегодня  я понимаю, что я  прежде всего женщина, любящая и любимая жена. 
                    <br><br>
                    Родительству не учат в школе или в университете, а с появлением ребёнка у родителей появляется масса вопросов по воспитанию детей.  Родителями нас делает именно первый ребёнок, благодаря ему, мы учимся как это быть родителями. 
                </p>
            </div>

            <hr>

            <div class="tip">
                Наказания - самый токсичный метод воспитания детей.
                <br>
                Я научу альтернативным методам воспитания.
            </div>

            <hr>

            <div class="service">
                <p style="text-align: center; font-size: 30px;">Как конкретно я могу помочь</p>
                <br>
                <div class="service_flex">                
                    <p class="service_p">
                        Научу жить без наказаний
                        <br><br>
                        Научу быстро решать конфликты между детьми и родителями
                        <br><br>
                        Научу быть другом своему ребенку, оставаясь для него авторитетом
                        <br><br>
                        Научу как сделать так, чтобы у вас с подростком были доверительные отношения.
                        <br><br>
                        Научу вашего ребенка самостоятельно делать уроки.
                        <br><br>
                        Научу избегать детских драк в семье
                        <br><br>
                        Научу жить без эмоционального выгорания и всегда находить время для своих детей
                    </p>
                    <p class="service_p">
                        Научу получать радость от воспитания своих детей, вместо нервных срывов и разочарования
                        <br><br>
                        Помогу пережить развод и сохранить теплые отношения между ребенком и разведенными родителями
                        <br><br>
                        Помогу наладить отношения взрослым детям  со своими родителями, даже если вы с ними не общались годы
                        <br><br>
                        Поделюсь откуда брать жизненные силы, чтобы хватало и на себя, и на партнера, и на детей
                        <br><br>
                        Поделюсь полезными инструментами и методами воспитания
                        <br><br>
                        Поделюсь секретным источником любви, о котором вы знаете, но не пользуетесь
                    </p>
                </div>
            </div>

            <hr>

            <div class="tip">
                Поступки детей - это показатель психологического здоровья их родителей. 
                <br>
                Я помогу избежать ошибок в воспитании.
            </div>

            <hr>

            <div class="best">
                <p style="text-align: center; font-size: 30px;">Преимущества моих консультаций</p>
                <br>
                <div class="best_flex">
                    <div class="best_block">
                        <p class="best_title">
                            АНОНИМНОСТЬ 100%
                        </p>
                        <p class="best_text">
                            До обращения, во время консультирования и после обращения <span class="invisible">.....................///////////.......</span>                                     
                        </p>
                    </div>
                    <div class="best_block">
                        <p class="best_title">
                            ДОСТУПНОСТЬ
                        </p>
                        <p class="best_text">
                            Круглосуточный режим работы 24х7. Вы всегда сможете связаться со мной: WhatsApp, Telegram, E-mail.
                        </p>
                    </div>                  
                </div>
                <div class="best_flex">
                    <div class="best_block">
                        <p class="best_title">
                            МОЯ ПОМОЩЬ НЕ ОГРАНИЧИВАЕТСЯ СТЕНАМИ ОФИСА
                        </p>
                        <p class="best_text">
                            Кроме обычных очных и онлайн консультаций я предлагаю выезд на море, пикник или “разговор” за чашечкой кофе. Мы найдем с вами комфортную для вас обстановку, которая поможет быстро решить любую сложившуюся проблему.
                        </p>
                    </div>
                    <div class="best_block">
                        <p class="best_title">
                            ОПЫТ И ОБРАЗОВАНИЕ
                        </p>
                        <p class="best_text">
                            Я мама троих разновозрастных детей, с которыми я общаюсь 24х7, поэтому могу найти общий язык с ребенком любого возраста. Детей воспитываю с мужем, с которым мы вместе уже 18 лет. 
                            Все Дипломы, Сертификаты и Свидетельства получены легально, а не куплены в переходе.
                        </p>
                    </div>                  
                </div>
            </div>

            <hr>

            <div class="price">
                <p style="text-align: center; font-size: 30px;">Сколько стоят мои услуги</p>
                <div class="price_flex">
                    <div class="price_block">
                        <div class="price_title">
                            Консультация/Сессия
                        </div>
                        <br><br><br>
                        <div class="price_count">
                            3000 РУБ
                        </div>
                        <a class="btn" href="##"><span>Записаться</span></a> 
                    </div>
                    <div class="price_block">
                        <div class="price_title">
                            Консультацияя/сессия +
                            <br>
                            поддержка/ведение в течение недели
                        </div>
                        <br>
                        <div class="price_count">
                            6000 РУБ        
                        </div>
                        <a class="btn" href="##"><span>Записаться</span></a> 
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <p style="text-align: center; font-size: 30px; margin-top: 20px;">Обратная связь</p>
        <div class="footer">
            <div class="form">
                <input type="text" placeholder="Ваше имя" class="input_">
                <input type="text" placeholder="Ваш телефон" class="input_">
                <a class="btn footer_btn" href="##"><span>Оставить заявку</span></a> 
            </div>
            <div class="social">
                <a href="tel:+7900000000"><i class="fa fa-2x fa-address-book" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-2x fa-whatsapp" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-2x fa-envelope" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
{% endblock content %}
