* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
    background: rgb(255, 255, 255);
    background-attachment: fixed;
    font-family: Georgia;
    font-size: 20px;
}

@media only screen and (max-width: 1024px) {
    html,
    body {
      font-size: 20px;
    }
}
@media only screen and (max-width: 768px) {
    html,
    body  {
      font-size: 14px;
    }
}
@media only screen and (max-width: 400px) {
    html,
    body  {
      font-size: 14px;
    }
}

hr {
    width: 98%;
    color: black;
    margin: 5px auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #fefefe;
    /* box-shadow: 0 5px 5px 5px rgb(241, 241, 241); */
}

.header {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    padding: 20px; */
}
.header_logo {
    width: 20%;
}
.header_text {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 30px;
}

.content {
    padding: 10px 10px;
	flex: 1 0 auto;
}

.opener,
.about,
.service_flex,
.best_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 20px;
}
.opener_ul {
    margin-top: 40px;
    margin-left: 40px;
}
.opener_li {
    margin-bottom: 50px;
    color: purple
}
.opener_span {
    color: black;
}
.opener_img,
.about_img {
    width: 30%;
    height: 30%;
    padding-right: 30px;
    padding-bottom: 30px;
}

.about {
    margin-top: 30px;
    margin-bottom: 30px;
}
.about_img {
    margin-top: 60px;
}

.tip {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(75, 14, 130)
}

.service {
    padding: 30px 0;
}
.service_p {
    padding: 0 10px;
}

.best {
    margin-top: 20px;
    padding-bottom: 20px;
}

.best_flex {
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.best_block {
    margin: 0 20px;
    width: 50%;
}
.best_title {
    padding: 10px 0;
}

.invisible {
    opacity: 0;
}

.price {
    margin-top: 20px;
}
.price_flex {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.price_block {
    width: 300px;
    /* border: 1px solid black; */
    /* border-radius: 10px;
    background-color: rgba(211, 190, 211, 0.388); */
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    margin: 20px 70px;
    padding: 10px 10px;
    text-align: center;
}

.price_title {
    padding-top: 10px;
}

.price_count {
    margin-bottom: 20px;
}

.btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 1px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid rgb(75, 14, 130);
	border-radius: 15px;
	height: 46px;
	line-height: 0;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}
.btn span {
	display: block;	
	box-sizing: border-box;
	padding: 0 25px;    
	height: 42px;
	line-height: 38px;    
	border: 1px solid rgb(75, 14, 130);
	border-radius: 15px;    
	font-size: 14px;
	color: #FFFFFF;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), rgb(75, 14, 130);
	text-align: center;
	font-weight: 600;
}
.btn:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.btn:hover span {
	background-color: rgb(135, 112, 156)
}
.btn:active span {
	background-color: rgb(75, 14, 130) !important;
}
.btn:disabled {
	opacity: 0.65;
	pointer-events: none;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
	flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.form {
    width: 75%;
}

.input_ {
    padding: 10px 80px;
    border-radius: 10px;
    box-shadow: 2px black;
    margin: 5px 15px;
}

.footer_btn {
    position: center;
}

.fa {
    margin: 0 20px;
    color: rgb(75, 14, 130)
}

.fa:hover {
    color: rgb(135, 112, 156)
}

@media only screen and (max-width: 500px) {
    .header_logo {
        width: 40%;
    }

    .opener,
    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .opener_img,
    .about_img {
        width: 100%;
        height: 100%;
    }

    .about_img {
        margin-top: 10px;
    }

    .tip {
        font-size: 20px;
    }

    .price_flex {
        flex-direction: column;
    }

    .price_block {
        margin: 20px 10px;
    }

    .footer_btn {
        width: 100%;
        margin-left:7px;
    }

    .form {
        width: 100%;
    }

    .input_ {
        /* padding: 10px 120px;
        margin: 10px 2px; */
        width: 50%;
    }

    .footer {
        flex-direction: column;
    }

    .social {
        text-align: center;
    }
}